h1{
    font-style:italic;
    text-align: center;
    margin: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

canvas {
    border: 1px solid black;
    cursor: default; /* Set cursor to default (arrow) */
    max-width: 100%;
    height: auto;
    touch-action: none; /* Disable default touch actions */
}

a{
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #748ed5;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}
.button:hover{
    background-color: rgb(71, 71, 188);
}